* {
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: #787878;
    -fx-text-fill: -fx-color-texto;
    -fx-prompt-text-fill: -fx-color-texto;
    -fx-font-size: 16px;

    /* variables */
    -fx-color-fondo: #fff;
    -fx-color-borde: #dcdcdc;
    -fx-color-texto: #000;
    -fx-color-control-deshabilitado: #c9c9c9;
    -fx-color-fondo-item: transparent;
    -fx-color-fondo-item-hover: -fx-color-primario-transparente;
    -fx-color-fondo-item-seleccionado: -fx-color-primario-transparente-plus;

    -fx-color-borde-tabla-header: #eaeaea;
    -fx-color-fondo-tabla-cell: #f5f5f5;

    -fx-color-primario: #EEA27B;
    -fx-color-primario-transparente: rgba(238,162,123,0.2);
    -fx-color-primario-transparente-plus: rgba(238,162,123,0.4);
}

.TITULO {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #555;
}

.FONDO {
    -fx-background-color: -fx-color-fondo;
}

.button {
    -fx-font-weight: bold;
}

.list-view, .list-view .list-cell {
    -fx-background-color: transparent;
}

.list-view .list-cell HBox.ITEM-MATERIA > HBox {
    -fx-background-color: transparent;
}

.list-view .list-cell:hover HBox.ITEM-MATERIA {
    -fx-background-color: -fx-color-fondo-item-hover;
    -fx-border-width: 0;
}

.list-view .list-cell:selected HBox.ITEM-MATERIA {
    -fx-background-color: -fx-color-fondo-item-seleccionado;
    -fx-border-width: 0;
}

.list-view .list-cell:selected HBox.ITEM-MATERIA > HBox.TRANSPARENTE {
    -fx-background-color: transparent;
}

.separator .line {
    -fx-border-width: 10;
    -fx-border-color: transparent;
}

.menu-button .separator .line {
    -fx-border-color: #f5f5f5;
}

.combo-box {
    -fx-background-color: transparent;
    -fx-border-color: -fx-color-borde;
}

.text-field:disabled {
    -fx-background-color: -fx-color-control-deshabilitado;
    -fx-border-color: -fx-color-borde;
}

.combo-box .list-view, .context-menu,
.combo-box .list-view .list-cell:focused, .context-menu .menu-item:focused {
    -fx-background-color: #fdfdfd;
}

.combo-box .list-view .list-cell:hover, .context-menu .menu-item:hover{
    -fx-background-color: -fx-color-primario-transparente;
}

.combo-box .list-view .list-cell:disabled:hover, .context-menu .menu-item:disabled:hover{
    -fx-background-color: #f4f4f4;
}

.combo-box > .arrow-button > .arrow {
    -fx-background-color: #ababab;
}

.scroll-pane, .scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.GRID-ROW-HEADER, .GRID-COLUMN-HEADER, .GRID-BODY-CELL {
    -fx-border-color: -fx-color-borde-tabla-header;
    -fx-border-width: 1;
}

.GRID-ROW-HEADER {
}

.GRID-COLUMN-HEADER {
}

.GRID-BODY-CELL {
    -fx-background-color: -fx-color-fondo-tabla-cell;
}

.GRID-HEADER {
    -fx-background-color: transparent;
}

.HIDE-BORDER {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.scroll-bar, .scroll-bar:horizontal .track,
.scroll-bar, .scroll-bar:vertical .track {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #e0e0e0;
}

.scroll-bar:horizontal .decrement-arrow,
.scroll-bar:horizontal .increment-arrow,
.scroll-bar:vertical .decrement-arrow,
.scroll-bar:vertical .increment-arrow {
    -fx-background-color: #d3d3d3;
}

.scroll-bar:horizontal .decrement-button,
.scroll-bar:horizontal .increment-button,
.scroll-bar:vertical .decrement-button,
.scroll-bar:vertical .increment-button {
    -fx-background-color: transparent;
}

.HIDE-TAB.tab-pane {
    -fx-tab-max-height: 0 ;
}
.HIDE-TAB.tab-pane .tab-header-area {
    visibility: hidden;
    -fx-padding: -20 0 0 0;
}

.button, .menu-button {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.CONFIRMATION-BUTTON {
    -fx-background-color: -fx-color-primario;
    -fx-text-fill: #fff;
}

HBox.ITEM-MATERIA {
    -fx-background-color: -fx-color-fondo-item;
    -fx-border-color: -fx-color-borde;
}

.check-box .box {
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-color: -fx-color-primario;
    -fx-border-radius: 2;
}

.check-box:selected .mark {
    -fx-background-color: -fx-color-primario;
}

.menu-button > .arrow-button, .menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}

.TOP-BAR .separator .line {
    -fx-border-color: transparent;
    -fx-border-width: 5;
}

.FOOTER {
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1 0 0 0;
}

.TOP-BAR {
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 0 1 0;
}