* {
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: #787878;
}

.dialog-pane {
    -fx-background-color: #f4f4f4;
}

.dialog-pane .header-panel {
    -fx-background-color: transparent;
}

.button {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: #fdfdfd;
}